.syntax_highlight {
  font-size: 14px;
  background-color: #eee;
  padding: 5px 0;
  margin: 10px 0;
}

#posts .syntax_highlight > pre > ol {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#posts .syntax_highlight > pre > ol > li {
  background: none;
  padding-left: 0;
  line-height: 17px;
  margin: 0;
}

#posts .syntax_highlight > pre > ol > li:before {
  content: " " counter(item);
  counter-increment: item;
  float: left;
}

#posts .syntax_highlight > pre > ol > li > div {
  border-left: 2px solid #6CE26C;
  margin-left: 20px;
  padding-left: 7px;
}

#posts .syntax_highlight > pre > ol > li.ln-xtra {
  background-color: #e5e5e5;
}

.syntax_highlight table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	padding: 0;
}

.syntax_highlight td {
	padding: 0;
	border: 0;
}

.syntax_highlight .line_numbers {
	text-align: right;
	width: 10px;
  border-right: 2px solid #afafaf;
}

/* potential overrides for other styles */
.syntax_highlight > pre {
  margin: 0;
}

.syntax_highlight > pre > ol {
    list-style: decimal outside none;
    padding-left: 17px;
}

/**
 * Keywords
 */
.kw1 { color: #00e; font-weight: bold;}
.kw2 { color: #000000; font-weight: bold;}
.kw3 { color: #990000; font-weight: bold;}

.de1 {}

/**
 * Comments
 */
 .coMULTI,
.co1, .co2, .co3, .co4 { color: #666666; font-style: italic; }
.co3 { color: #0000cc; }

/**
 * Escaped chars
 */
.es0, .es1, .es2, .es3, .es4, .es5, .es6, .es_h { font-weight: bold; }
.es0, .es1, .es6 { color: #000099; }
.es2, .es3 { color: #660099; }
.es4, .es5 { color: #006699; }
.es5 { font-style: italic; }

/**
 * Strings
 */
.st0 { color: #0000ff; }
.st_h { color: #0000ff; }

/**
 * Brackets
 */
.br0 { color: #009900; font-weight: bold; }

/**
 * Numberrs
 */
.nu0 { color: #cc66cc; }

/**
  * Symbols
 */
.sy0 { color: #339933; }

/**
 * Regular Expressions
 */
.re0 { color: #000088; }

/**
 * Lines
 */
/*
.li1 { background: #f0f0f0; }
.li2 { background: #f9f9f9; }
*/
